html, body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: black;
}


h1 {
	font-family: arial;
	font-size: 30pt;
	line-height: 34pt;
}

a {
	color: blue;
}

img {
	width: 100%;
}

img:hover {
	cursor: pointer;
}

.back-menu {
	position: fixed;
	position: fixed;
	top: 10px;
	left: 3vw;
}

.back-menu h1  {
	font-size: 6vh;
	color: white;
	display: inline-block;
	margin-left: 1vw;
	text-transform: uppercase;
}

.back-menu h1:hover {
	text-decoration: underline;
}


#logo {
	position: fixed;
	right: 50px;
	top: 1.5vh;
	width: 30px;
	mix-blend-mode: difference;
}

.images {
	height: 98.5vh;
	width: auto;
	margin-top: 1vh;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	z-index: 1;
}

.images img {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: auto;
	height: 100%;
	z-index: 1;
}
